@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* BASIC */
:root {
    --font-color-main: #868b8e;
    --navbar-and-footer-color-main: #eeede7;

    --font-color-hover: #eeede7;
    --navbar-and-footer-color-hover: #d5d3d7;

    --active-menu-color: #868b8e;
}

* {
    box-sizing: border-box;
}

html,
body {
    font-size: 16px;
    margin: 0;
    font-family: 'Montserrat';
}



/* NAVIGATION */

nav {
    background-color: var(--navbar-and-footer-color-main);
}

.navbar-links {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    margin-left: 3rem;
}


.navbar_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0em 2em;
    height: 100%;
    width: 8em;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    text-decoration: none;
    color: var(--font-color-main);
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}

.navbar_item a {
    color: var(--font-color-main);
    text-decoration: none;
    height: auto;
}

.navbar_item:hover {
    color: var(--font-color-main);
    background-color: var(--navbar-and-footer-color-hover);
    border-bottom: 3px solid var(--font-color-main);
}

.navbar_item:hover a {
    color: var(--font-color-hover);
    text-decoration: none;
}

.burger {
    display: none;
}

.active {
    background-color: var(--active-menu-color);
    color: var(--font-color-hover);
    border-bottom: 3px solid black;
}

@media screen and (max-width: 1100px) {
    .logo {
        width: 5rem;        
    }
    .navbar_item {
        font-size: 0.8rem;
        width: 6em;
    }
}

/* FOOTER */
footer {
    text-align: center;
    color: var(--font-color-main);
    background-color: var(--navbar-and-footer-color-main);
}

/* ERROR PAGE */
.error-page {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
}

.error-page section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-page h1 {
    margin: 0;
    font-size: 6rem;
}

.error-page h3 {
    font-size: 2rem;
}

/* BUTTONS */
.smallButton {
    width: 6rem;
    height: 2rem;
    background-color: var(--navbar-and-footer-color-main);
    border: 2px solid var(--navbar-and-footer-color-main);
}

.smallButton:hover {
    background-color: var(--navbar-and-footer-color-hover);
}

.smallButton:active {
    background-color: var(--active-menu-color);
    color: var(--font-color-hover);
}
